# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**__pycache__**

# Lockfiles
package-lock.json

# Databases
swe_qa.db
*.db
package-lock.json
api-server-fastapi/env
api-server-fastapi/lib
api-server-fastapi/Scripts
swe_qa.db*
api-server-fastapi/swe_qa.db
*.env*